/* Paleta Colores */
.bg-faq {
  background-color: #f1f5f2ff; }

.navbar {
  --bs-navbar-background-color: #14281dff;
  --bs-navbar-color: #c2a878ff;
  --bs-navbar-hover-color: #f1f5f2ff;
  --bs-navbar-active-color: #f1f5f2ff; }
  .navbar .navbar-brand img {
    width: 4rem; }

.nav-link {
  background-color: #14281dff;
  margin: 0.2rem;
  border-radius: 1rem;
  text-align: center;
  font-style: italic; }
  .nav-link:visited {
    color: #6e633dff; }
    .nav-link:visited:visited:hover {
      color: #f1f5f2ff; }

.headindex h1 {
  font-size: 3rem;
  text-align: center;
  color: #c2a878ff; }

.headindex .prana {
  font-style: italic;
  font-size: 4rem; }

.nosotros h5 {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-size: 2rem;
  color: #14281dff; }

.nosotros h6 {
  font-family: "open sans";
  font-size: 1.5rem;
  color: #c2a878ff; }

.nosotros p {
  font-family: "open sans"; }

.nosotros a {
  font-size: 1.5rem;
  font-style: italic; }

.titulobeneficios {
  text-align: center;
  background-color: #f1f5f2ff;
  color: #c2a878ff;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem; }

.img-thumbnail {
  background-color: #f1f5f2ff;
  animation-name: beneanim;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; }

@keyframes beneanim {
  0% {
    filter: grayscale(100%); }
  25% {
    filter: grayscale(75%); }
  50% {
    filter: grayscale(50%); }
  75% {
    filter: grayscale(25%); }
  100% {
    filter: grayscale(0%); } }

.btncatalogo {
  display: flex;
  justify-content: center;
  padding: 1rem; }
  .btncatalogo a {
    font-style: normal; }

.botonescribi a {
  font-style: normal; }

.textfaqs h5 {
  font-style: italic; }

.textfaqs p {
  padding-top: 2rem;
  font-family: "open sans"; }

.verfaqs {
  padding-top: 2rem; }

.dudas {
  background-color: #c2a878ff;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .dudas h2 {
    color: #14281dff; }
  .dudas h3 {
    color: #355834ff;
    border-radius: 1rem;
    padding: 8px;
    font-weight: 600;
    background-color: #f1f5f2ff;
    transition: all 0.5s; }
    .dudas h3:hover {
      color: #c2a878ff;
      background-color: #14281dff; }
  .dudas a {
    text-decoration: none; }
  .dudas i {
    font-size: 2rem;
    color: #14281dff;
    /*     border-top: Solid 3px #14281dff;
    border-bottom: Solid 3px #14281dff;
    border-left: solid 3px #14281dff;
    border-right: solid 3px #14281dff; */
    transition: all 1s; }
    .dudas i:hover {
      color: #f1f5f2ff;
      font-size: 2.5rem;
      /*       background-color: #f1f5f2ff;
 */ }

_* {
  margin: 0%;
  padding: 0%; }

body {
  background: linear-gradient(180deg, #355834 0%, #14281d 39%, black 100%);
  font-family: "Playfair Display", serif; }

.btn-primary {
  --bs-btn-color: #c2a878ff;
  --bs-btn-bg: #14281dff;
  font-style: italic;
  --bs-btn-border-color: #c2a878ff;
  --bs-btn-hover-color: #c2a878ff;
  --bs-btn-hover-bg: #f1f5f2ff;
  --bs-btn-hover-border-color: #c2a878ff;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #14281dff;
  --bs-btn-active-bg: #c2a878ff;
  --bs-btn-active-border-color: #14281dff;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }

.footer {
  background-color: #f1f5f2ff;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .footer img {
    width: 3rem;
    width: 5rem;
    height: auto;
    padding: 10px; }

.menuFooter ul {
  text-align: center;
  display: flex;
  margin: 1rem; }
  .menuFooter ul li {
    display: flex;
    margin: 0.1rem;
    color: #14281dff;
    font-style: italic;
    font-weight: 500;
    display: inline-block;
    padding: 10px 10px;
    background-color: #14281dff;
    border-radius: 1rem;
    color: #f1f5f2ff; }
  .menuFooter ul a {
    color: #c2a878ff;
    text-decoration: none; }
    .menuFooter ul a:hover {
      color: #f1f5f2ff; }

.redesFlotantes {
  position: fixed;
  right: 0.2rem;
  bottom: 50%; }
  .redesFlotantes img {
    width: 2rem;
    padding: 3px;
    display: block; }

.whatsapp img {
  width: 3rem;
  width: 5rem;
  height: auto;
  padding: 10px; }

.derechos {
  text-align: center;
  font-style: italic;
  font-size: small;
  font-weight: 400;
  background-color: #c2a878ff; }

/* Index */
@media (max-width: 576px) {
  .img-thumbnail {
    background-color: #f1f5f2ff;
    width: 50%;
    margin: 0.5rem; }
  .carousel {
    width: 50%; } }

.textfaqs {
  margin-top: 5rem; }

.verfaqs {
  margin-top: 5rem; }

/* Catalogo */
@media (max-width: 576px) {
  .cardfaqs {
    width: 50%; } }

.headcatalogo h1 {
  font-style: italic;
  text-align: center;
  color: #c2a878ff; }

.headcatalogo p {
  color: #f1f5f2ff;
  opacity: 75%;
  font-family: "Open Sans"; }

.cardfaqs {
  --bs-card-bg: $secundario; }
  .cardfaqs h5 {
    color: #f1f5f2ff; }
  .cardfaqs p {
    color: #f1f5f2ff;
    font-family: "Open Sans"; }
