/* Paleta Colores */
.bg-faq {
  background-color: #f1f5f2ff; }

.navbar {
  background-color: #f1f5f2ff; }
  .navbar .navbar-brand img {
    margin-left: 1rem;
    width: 60%; }

.nav-link {
  color: #c2a878;
  background-color: #14281dff;
  margin: 0.2rem;
  border-radius: 1rem;
  text-align: center;
  font-style: italic; }
  .nav-link:hover {
    color: #f1f5f2ff; }
  .nav-link:visited {
    color: #6e633dff; }
  .nav-link:visited:hover {
    color: #f1f5f2ff; }

.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
  color: #f1f5f2ff; }

.headindex h1 {
  font-size: 4rem;
  text-align: center;
  color: #c2a878; }

.headindex p {
  text-align: center;
  font-size: 1.5rem;
  color: #f1f5f2ff;
  opacity: 50%;
  font-family: "Open Sans";
  padding: 1rem; }

.prana {
  font-style: italic;
  font-size: 5rem; }

.imgnos {
  display: block;
  object-fit: cover;
  padding: 0; }

.nos {
  width: 100%;
  height: 100%; }

.nosotros {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .nosotros h2 {
    font-family: "Playfair Display", serif;
    font-style: italic;
    color: #14281dff;
    font-size: 2rem; }
  .nosotros h6 {
    font-family: "open sans";
    justify-self: center;
    color: #c2a878;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-weight: 600;
    font-size: 1.5rem; }
  .nosotros p {
    font-family: "open sans"; }
  .nosotros a {
    font-style: italic;
    font-size: 1rem; }

.btnnos {
  display: flex;
  justify-content: center; }
  .btnnos a {
    font-style: normal;
    font-size: 1.5rem; }
    .btnnos a:hover {
      font-size: 2rem; }

.titulobeneficios {
  text-align: center;
  color: #f1f5f2ff;
  padding-top: 2rem;
  font-size: 2.5rem;
  opacity: 70%;
  font-family: "open sans"; }

.beneficios {
  font-family: "open sans";
  /*   background-image: url(../Multimedia/Fondosol.jpeg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover; */
  /*   background-color: $secundarioter;
 */
  background-image: url(/Multimedia/Fondosol.jpeg);
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 30rem; }
  .beneficios img {
    width: 10rem; }
  .beneficios .benef {
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.427); }

.cat {
  padding: 2rem;
  /*   background-image: url(../Multimedia/fondocat2.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */ }

.carousel {
  width: 40%; }

.btncatalogo {
  display: flex;
  justify-content: center;
  padding: 1rem; }
  .btncatalogo a {
    font-style: normal;
    font-size: 1.5rem; }
    .btncatalogo a:hover {
      font-size: 1.8rem; }

.textfaqs {
  display: block;
  object-fit: cover;
  background-image: url(../Multimedia/fondofaqs.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Playfair Display", serif; }
  .textfaqs h2 {
    font-style: italic;
    font-size: 3rem;
    padding: 1rem;
    border-radius: 2rem;
    color: #c2a878;
    background-color: #f1f5f2ff;
    margin-bottom: 10rem; }
  .textfaqs p {
    background-color: rgba(20, 40, 29, 0.318);
    border-radius: 1rem;
    padding: 1rem;
    align-self: center;
    font-size: 1rem;
    font-family: "open sans";
    color: #f1f5f2ff; }

.verfaqs a {
  font-size: 1.5rem; }
  .verfaqs a:hover {
    font-size: 2rem; }

.dud {
  background-color: #f1f5f2ff; }

.imagendudas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem; }
  .imagendudas img {
    width: 10rem; }

.cientif {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem; }
  .cientif img {
    width: 20rem; }

.gridNosotros {
  font-family: "Playfair Display", serif;
  /*   display: grid;
  grid-template-columns: 1fr 1fr; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "img1 text1" "text2 img2" "img3 text3" "text4 img4"; }

.fotonosotros1 {
  grid-area: img1; }

.textonosotros1, .textonosotros3, .textonosotros4 {
  grid-area: text1; }

.fotonosotros2 {
  grid-area: text2; }

.fotonosotros2 {
  grid-area: img2; }

.fotonosotros3 {
  grid-area: img3; }

.textonosotros3 {
  grid-area: text3; }

.textonosotros4 {
  grid-area: text4; }

.fotonosotros4 {
  grid-area: img4; }

.tituloNosotros {
  background-color: #14281dff;
  color: #c2a878;
  text-align: center;
  font-style: italic;
  font-family: "Playfair Display", serif;
  padding: 1rem; }
  .tituloNosotros h1 {
    font-size: 5rem; }

/* Textos Nosotros */
.textonosotros1, .textonosotros3, .textonosotros4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #14281dff;
  background-color: #f1f5f2ff;
  padding: 3rem; }
  .textonosotros1 h2, .textonosotros3 h2, .textonosotros4 h2 {
    font-family: "Playfair Display", serif;
    color: #c2a878;
    padding-bottom: 3rem;
    font-style: italic;
    animation-name: aparecertitulo;
    animation-duration: 2s;
    animation-timing-function: linear; }
  .textonosotros1 p, .textonosotros3 p, .textonosotros4 p {
    font-family: "open sans"; }

.textonosotros2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #14281dff;
  background-color: #f1f5f2ff;
  padding: 3rem; }
  .textonosotros2 h2 {
    font-family: "Playfair Display", serif;
    color: #c2a878;
    padding-bottom: 3rem;
    font-style: italic;
    animation-name: aparecertitulo;
    animation-duration: 2s;
    animation-timing-function: linear; }
  .textonosotros2 p {
    font-family: "open sans"; }

.textonosotros3 {
  /*   display: map-get($textos, display);
  flex-direction: map-get($textos, direccion);
  justify-content: map-get($textos, centrado);
  color: map-get($textos, color);
  background-color: map-get($textos, fondo); */
  padding: 3rem; }
  .textonosotros3 p {
    font-family: "open sans"; }
  .textonosotros3 a {
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: rgba(53, 88, 52, 0.721);
    color: #14281dff;
    font-size: large;
    text-decoration: none;
    font-family: "Playfair Display", serif; }
    .textonosotros3 a:hover {
      color: #f1f5f2ff; }

.textonosotros4 {
  /*   display: map-get($textnosotros, display);
  flex-direction: map-get($textnosotros, direccion);
  justify-content: map-get($textnosotros, centrado);
  color: map-get($textnosotros, color);
  background-color: map-get($textnosotros, fondo); */
  text-align: center;
  align-items: center;
  padding: 3rem; }
  .textonosotros4 p {
    font-family: "open sans"; }

@keyframes aparecertitulo {
  0% {
    opacity: 100%; }
  25% {
    opacity: 25%; }
  50% {
    opacity: 50%; }
  75% {
    opacity: 75%; }
  100% {
    opacity: 100%; } }

.botonCatalogoNos {
  text-decoration: none; }
  .botonCatalogoNos h2 {
    padding: 1.1rem;
    border-radius: 2rem;
    background-color: rgba(53, 88, 52, 0.721);
    color: #14281dff;
    font-size: large; }
    .botonCatalogoNos h2:hover {
      color: #f1f5f2ff; }

/* IMAGENES */
.fotonosotros1 {
  display: flex;
  object-fit: cover;
  background-image: url(../Multimedia/Foto1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation-name: aparecer;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: initial; }

@keyframes aparecer {
  0% {
    filter: grayscale(100%); }
  25% {
    filter: grayscale(75%); }
  50% {
    filter: grayscale(50%); }
  75% {
    filter: grayscale(25%); }
  100% {
    filter: grayscale(0%); } }

.fotonosotros2 {
  display: flex;
  object-fit: cover;
  background-image: url(../Multimedia/Foto2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation-name: aparecer;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: initial; }

.fotonosotros3 {
  display: flex;
  object-fit: cover;
  background-image: url(../Multimedia/Foto3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation-name: aparecer;
  animation-duration: 1.5s;
  animation-timing-function: linear; }

.fotonosotros4 {
  display: flex;
  object-fit: cover;
  background-image: url(../Multimedia/Foto4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation-name: aparecer;
  animation-duration: 1.5s;
  animation-timing-function: linear; }

/* .fotonosotros1 img {
  width: 100%;
}
.fotonosotros2 img {
  width: 100%;
}
.fotonosotros3 img {
  width: 100%;
}
.fotonosotros4 img {
  width: 100%;
}
 */
.headcatalogo h1 {
  font-size: 5rem;
  padding: 1rem;
  font-family: "Playfair Display", serif;
  font-style: italic;
  text-align: center;
  color: #c2a878; }

.headcatalogo p {
  font-size: 1.5rem;
  color: #f1f5f2ff;
  opacity: 75%;
  font-family: "Open Sans";
  padding: 1rem; }

.cardfaqs {
  background-color: #f1f5f2ff; }
  .cardfaqs h5 {
    color: #14281dff;
    font-weight: 700;
    font-family: "Open Sans";
    background-color: #c2a878;
    padding: 0.5rem;
    border-radius: 0.3rem;
    font-size: 1.5rem; }
  .cardfaqs p {
    color: #14281dff;
    font-family: "Open Sans";
    border-radius: 0.3rem;
    padding: 0.5rem;
    font-weight: 500;
    font-size: 1.2rem; }

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center; }

.noscatalogo {
  background-image: url(/Multimedia/fondonoscat.jpeg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 5rem; }

.tituloconocenos {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: x-large;
  font-weight: 600;
  text-align: center;
  color: #14281dff;
  font-size: 2.5rem;
  font-family: "Playfair Display", serif; }

.noscat {
  background-color: #c2a878; }

.botonnoscat {
  margin-top: 30rem; }

.headfaq h1 {
  font-size: 4rem;
  font-style: italic;
  text-align: center;
  color: #c2a878; }

.headfaq p {
  color: #f1f5f2ff;
  opacity: 75%; }

.accordion {
  background-color: #f1f5f2ff;
  color: #14281dff;
  --bs-accordion-btn-focus-border-color: #c2a878ff;
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25remrgba (13, 110, 253, 0.25);
  --bs-accordion-active-color: #f1f5f2ff;
  --bs-accordion-active-bg: #525e39;
  font-family: "Playfair Display", serif; }

.accordion-item {
  color: #f1f5f2ff;
  background-color: #6e633dff; }

.card-img-overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: end; }

.imgdudas {
  padding-bottom: 30rem;
  object-fit: cover;
  background-image: url(../Multimedia/fondotabla2.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.contactofaqs h5 {
  padding-top: 2rem;
  font-size: xx-large;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  padding-bottom: 2rem; }

.contactofaqs p {
  font-family: "Open Sans";
  font-size: 1.2rem;
  padding: 3rem; }

.contactofaqs a {
  font-family: "Open Sans";
  font-style: normal;
  font-size: 1.3rem; }

.productos {
  background-image: url(/Multimedia/milesproductos.jpeg);
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 30rem; }

.milesproductos {
  background-color: rgba(20, 40, 29, 0.36); }
  .milesproductos p {
    font-family: "Open Sans";
    font-style: italic;
    font-size: 2rem; }
  .milesproductos a {
    margin-top: 2rem;
    font-size: 1.3rem;
    margin-bottom: 2rem; }

.encontranos {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #c2a878; }

.encontranos h2 {
  text-align: center;
  background-color: #14281dff;
  padding: 1rem;
  border-radius: 2rem;
  border-top: Solid 3px #c2a878;
  border-bottom: Solid 3px #c2a878;
  border-left: solid 3px #c2a878;
  border-right: solid 3px #c2a878; }

.encontranos iframe {
  margin: 1rem;
  width: 100%; }

.formularios {
  background-color: #f1f5f2ff;
  border-radius: 1rem;
  padding: 1rem;
  color: #14281dff; }

.form-control {
  color: #14281dff;
  background-color: #f1f5f2ff; }

.form-control:focus {
  color: #f1f5f2ff;
  background-color: #c2a878; }

_* {
  margin: 0%;
  padding: 0%; }

body {
  background-color: #14281dff;
  font-family: "Playfair Display", serif; }

.btn-primary {
  color: #c2a878;
  background-color: #14281dff;
  font-style: italic;
  border-color: #c2a878;
  --bs-btn-hover-color: #c2a878ff;
  --bs-btn-hover-bg: #f1f5f2ff;
  --bs-btn-hover-border-color: #c2a878ff;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #14281dff;
  --bs-btn-active-bg: #c2a878ff;
  --bs-btn-active-border-color: #14281dff;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }

.btn {
  align-self: center;
  transition: all 1s; }

.btn:hover {
  font-size: 1.5rem; }

.footercon {
  background-color: #f1f5f2ff;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.footer {
  background-color: #f1f5f2ff;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .footer img {
    padding: 1rem;
    width: 60%; }

.menuFooter {
  padding-left: 5rem; }

.menuFooter ul {
  margin: 1rem;
  padding-right: 9rem; }
  .menuFooter ul li {
    margin: 0.1rem;
    font-style: italic;
    font-weight: 500;
    display: inline-block;
    padding: 10px 10px;
    background-color: #14281dff;
    border-radius: 1rem;
    color: #f1f5f2ff; }
  .menuFooter ul a {
    color: #c2a878;
    text-decoration: none; }
    .menuFooter ul a:hover {
      color: #f1f5f2ff; }

.redesFlotantes img {
  width: 3rem;
  padding: 3px; }

.whatsapp img {
  width: 4rem;
  height: auto; }

.derechos {
  padding: 1rem;
  color: #14281dff;
  text-align: center;
  font-style: italic;
  font-size: large;
  font-weight: 600;
  background-color: #c2a878; }

.dudas {
  padding-top: 3rem;
  background-color: #f1f5f2ff;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .dudas h2 {
    color: #14281dff;
    padding-bottom: 1rem; }
  .dudas h3 {
    font-family: "open sans";
    color: #355834ff;
    padding-bottom: 2rem;
    font-weight: 600;
    background-color: #f1f5f2ff;
    transition: all 0.5s; }
    .dudas h3:hover {
      color: #c2a878;
      /* background-color: $primario; */ }
  .dudas a {
    text-decoration: none; }
  .dudas i {
    font-size: 3rem;
    color: #14281dff;
    /*     border-top: Solid 3px #14281dff;
    border-bottom: Solid 3px #14281dff;
    border-left: solid 3px #14281dff;
    border-right: solid 3px #14281dff; */
    transition: all 1s; }
    .dudas i:hover {
      color: #c2a878;
      font-size: 3.3rem;
      /*       background-color: #f1f5f2ff;
 */ }

/* Index */
@media (max-width: 576px) {
  .moneda {
    width: 40%; }
  .carousel {
    width: 50%; } }

.verfaqs {
  margin-top: 5rem; }

/* Catalogo */
@media (max-width: 576px) {
  .cardfaqs {
    width: 50%; } }

/* !Tablet NOSOTROS */
@media (max-width: 768px) {
  .gridNosotros {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "img1 text1 img2 text4" "text2 img3 text3 img4";
    /*     .fotonosotros1 {
      display: block;
      object-fit: cover;
    }
    .fotonosotros2 {
      display: block;
      object-fit: cover;
    }
    .fotonosotros3 {
      display: block;
      object-fit: cover;
      width: 100%;
    }
    .fotonosotros4 {
      display: block;
      object-fit: cover;
    }
    .textonosotros3{
      .fotonosotros2 {
        display: block;
        object-fit: cover;
      }
    }
  } */ }
  .footer {
    flex-direction: column;
    display: flex;
    background-color: #f1f5f2ff;
    text-align: center; } }

/* !MOBILE NOSOTROS */
@media (max-width: 576px) {
  .gridNosotros {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "img1" "text1" "img2" "text2" "img3" "text3" "img4" "text4"; }
  .footer {
    display: flex;
    flex-direction: column;
    background-color: #f1f5f2ff;
    text-align: center; }
  .textonosotros3 a {
    padding: 0.1rem;
    font-size: large; } }
