.headcatalogo {
  h1 {
    font-size: 5rem;
    padding: 1rem;
    font-family: "Playfair Display", serif;
    font-style: italic;
    text-align: center;
    color: $secundario;
  }
  p {
    font-size: 1.5rem;
    color: $secundarioter;
    opacity: 75%;
    font-family: "Open Sans";
    padding: 1rem;
  }
}

.cardfaqs {
  background-color: $secundarioter;

  h5 {
    color: $primario;
    font-weight: bold;
    font-family: "Open Sans";
    padding: 0.5rem;
    border-radius: 0.3rem;
    font-size: 1.6rem;
  }
  p {
    color: $primario;
    font-family: "Open Sans";
    border-radius: 0.3rem;
    padding: 0.5rem;
    font-weight: 500;
    font-size: 1.2rem;
  }
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.noscatalogo {
  background-image: url(/Multimedia/fondonoscat.webp);
  backdrop-filter: initial;
  object-fit: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 10rem;
}
.tituloconocenos {
  padding-top: 15rem;
  padding-bottom: 1rem;
  font-size: 6rem;
  font-weight: bolder;
  text-align: center;
  color: $secundarioter;
  font-family: "Playfair Display", serif;
}

.botonnoscat {
  margin-top: 8rem;
}
