.encontranos {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $secundario;
}
.encontranos h2 {
  text-align: center;
  background-color: $primario;
  padding: 1rem;
  border-radius: 2rem;
  border-top: Solid 3px $secundario;
  border-bottom: Solid 3px $secundario;
  border-left: solid 3px $secundario;
  border-right: solid 3px $secundario;
}
.encontranos iframe {
  margin: 1rem;
  width: 100%;
}

.formularios {
  background-color: $secundarioter;
  border-radius: 1rem;
  padding: 1rem;
  color: $primario;
}
.form-control {
  color: $primario;
  background-color: $secundarioter;
}
.form-control:focus {
  color: $secundarioter;
  background-color: $secundario;
}
