.headfaq h1 {
  font-style: italic;
  text-align: center;
  color: $secundario;
}
.headfaq p {
  color: #f1f5f2ff;
  opacity: 75%;
}
.accordion {
  background-color: $secundarioter;
  color: $primario;
  --bs-accordion-btn-focus-border-color: #c2a878ff;
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25remrgba (13, 110, 253, 0.25);
  --bs-accordion-active-color: #c2a878ff;
  --bs-accordion-active-bg: #355834ff;
}
.accordion-item {
  color: $secundarioter;
  background-color: $secundariosec;
}

.card-img-overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
