_* {
  margin: 0%;
  padding: 0%;
}

body {
  background-color: $primario;

  font-family: "Playfair Display", serif;
}

.btn-primary {
  color: $secundario;
  background-color: $primario;
  font-style: italic;
  border-color: $secundario;
  --bs-btn-hover-color: #c2a878ff;
  --bs-btn-hover-bg: #f1f5f2ff;
  --bs-btn-hover-border-color: #c2a878ff;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #14281dff;
  --bs-btn-active-bg: #c2a878ff;
  --bs-btn-active-border-color: #14281dff;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn {
  align-self: center;
  transition: all 1s;
}
.btn:hover {
  font-size: 1.5rem;
}
.footercon {
  background-color: $secundarioter;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer {
  background-color: $secundarioter;
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    padding: 1rem;
    width: 60%;
  }
}
.menuFooter {
  /*   padding-left: 5rem;
 */
  padding-right: 5rem;
}
.menuFooter ul {
  margin: 1rem;
  /*     padding-right: 9rem;
 */
  li {
    margin: 0.1rem;
    font-style: italic;
    font-weight: 500;
    display: inline-block;
    padding: 10px 10px;
    background-color: $primario;
    border-radius: 1rem;
    color: $secundarioter;
  }
  a {
    color: $secundario;
    text-decoration: none;
    &:hover {
      color: $secundarioter;
    }
  }
}

.redesFlotantes {
  img {
    width: 3rem;
    padding: 3px;
  }
}
.whatsapp img {
  width: 4rem;
  height: auto;
}
.derechos {
  padding: 1rem;
  color: $primario;
  text-align: center;
  font-style: italic;
  font-size: large;
  font-weight: 600;
  background-color: $secundario;
}

.dudas {
  padding-top: 3rem;
  background-color: $secundarioter;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    color: $primario;
    padding-bottom: 1rem;
  }
  h3 {
    font-family: "open sans";
    color: $primariosec;
    padding-bottom: 2rem;
    font-weight: 600;
    background-color: $secundarioter;
    transition: all 0.5s;
    &:hover {
      color: $secundario;
      /* background-color: $primario; */
    }
  }
  a {
    text-decoration: none;
  }
  i {
    font-size: 3rem;
    color: $primario;
    /*     border-top: Solid 3px #14281dff;
    border-bottom: Solid 3px #14281dff;
    border-left: solid 3px #14281dff;
    border-right: solid 3px #14281dff; */
    transition: all 1s;
    &:hover {
      color: $secundario;
      font-size: 3.3rem;
      /*       background-color: #f1f5f2ff;
 */
    }
  }
}
