.headindex {
  h1 {
    font-size: 3rem;
    text-align: center;
    color: $secundario;
  }
  .prana {
    font-style: italic;
    font-size: 4rem;
  }
}
.nosotros {
  h5 {
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-size: 2rem;
    color: $primario;
  }
  h6 {
    font-family: "open sans";
    font-size: 1.5rem;
    color: $secundario;
  }
  p {
    font-family: "open sans";
  }
  a {
    font-size: 1.5rem;
    font-style: italic;
  }
}

.titulobeneficios {
  text-align: center;
  background-color: $secundarioter;
  color: $secundario;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
}
.img-thumbnail {
  background-color: $secundarioter;
  animation-name: beneanim;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes beneanim {
  0% {
    filter: grayscale(100%);
  }
  25% {
    filter: grayscale(75%);
  }
  50% {
    filter: grayscale(50%);
  }
  75% {
    filter: grayscale(25%);
  }
  100% {
    filter: grayscale(0%);
  }
}

.btncatalogo {
  display: flex;
  justify-content: center;
  padding: 1rem;
  a {
    font-style: normal;
  }
}
.botonescribi {
  a {
    font-style: normal;
  }
}
.textfaqs {
  h5 {
    font-style: italic;
  }
  p {
    padding-top: 2rem;
    font-family: "open sans";
  }
}
.verfaqs {
  padding-top: 2rem;
}

.dudas {
  background-color: $secundario;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    color: $primario;
  }
  h3 {
    color: $primariosec;
    border-radius: 1rem;
    padding: 8px;
    font-weight: 600;
    background-color: $secundarioter;
    transition: all 0.5s;
    &:hover {
      color: $secundario;
      background-color: $primario;
    }
  }
  a {
    text-decoration: none;
  }
  i {
    font-size: 2rem;
    color: $primario;
    /*     border-top: Solid 3px #14281dff;
    border-bottom: Solid 3px #14281dff;
    border-left: solid 3px #14281dff;
    border-right: solid 3px #14281dff; */
    transition: all 1s;
    &:hover {
      color: $secundarioter;
      font-size: 2.5rem;
      /*       background-color: #f1f5f2ff;
 */
    }
  }
}
