.headindex {
  h1 {
    font-size: 4rem;
    text-align: center;
    color: $secundario;
  }
  p {
    text-align: center;
    font-size: 1.5rem;
    color: $secundarioter;
    opacity: 50%;
    font-family: "Open Sans";
    padding: 1rem;
  }
}
.prana {
  font-style: italic;
  font-size: 5rem;
}

.imgnos {
  display: block;
  object-fit: cover;
  padding: 0;
}
.nos {
  width: 100%;
  height: 100%;
}
.nosotros {
  display: map-get($textos, display);
  flex-direction: map-get($textos, direccion);
  justify-content: map-get($textos, centrado);
  h2 {
    font-family: "Playfair Display", serif;
    font-style: italic;
    color: map-get($textos, color);
    font-size: 2rem;
  }
  h6 {
    font-family: "open sans";
    justify-self: center;
    color: $secundario;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-weight: 600;
    font-size: 1.5rem;
  }
  p {
    font-family: "open sans";
  }
  a {
    font-style: italic;
    font-size: 1rem;
  }
}

.btnnos {
  display: flex;
  justify-content: center;
  a {
    font-style: normal;
    font-size: 1.5rem;
    &:hover {
      font-size: 2rem;
    }
  }
}

.titulobeneficios {
  text-align: center;
  color: $secundarioter;
  padding-top: 2rem;
  font-size: 2.5rem;
  opacity: 70%;
  font-family: "open sans";
}
.beneficios {
  font-family: "open sans";
  /*   background-image: url(../Multimedia/Fondosol.jpeg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover; */
  /*   background-color: $secundarioter;
 */
  background-image: url(/Multimedia/Fondosol.jpeg);
  height: 100%;
  object-fit: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 30rem;
  img {
    width: 10rem;
  }
  .benef {
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.427);
  }
}

.cat {
  padding: 2rem;
  /*   background-image: url(../Multimedia/fondocat2.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}
.carousel {
  width: 40%;
}

.btncatalogo {
  display: flex;
  justify-content: center;
  padding: 1rem;
  a {
    font-style: normal;
    font-size: 1.5rem;
    &:hover {
      font-size: 1.8rem;
    }
  }
}

.textfaqs {
  display: block;
  object-fit: cover;
  background-image: url(../Multimedia/fondofaqs.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Playfair Display", serif;
  h2 {
    font-style: italic;
    font-size: 3rem;
    padding: 1rem;
    border-radius: 2rem;
    color: $secundario;
    background-color: $secundarioter;
    margin-bottom: 3rem;
  }
  p {
    background-color: rgba(20, 40, 29, 0.474);
    border-radius: 1rem;
    padding: 1.5rem;
    align-self: center;
    font-size: 1.2rem;
    font-family: "open sans";
    color: $secundarioter;
  }
}
.verfaqs {
  a {
    font-size: 1.5rem;
    &:hover {
      font-size: 2rem;
    }
  }
}
.dud {
  background-color: $secundarioter;
}
.imagendudas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  img {
    width: 10rem;
  }
}
.cientif {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;

  img {
    width: 20rem;
  }
}
