.headindex {
  h1 {
    font-size: 3rem;
    text-align: center;
    color: $secundario;
  }
  .prana {
    font-style: italic;
    font-size: 4rem;
  }
}
.imgnos {
  padding: 0;
}

.nosotros {
  display: map-get($textos, display);
  flex-direction: map-get($textos, direccion);
  justify-content: map-get($textos, centrado);
  h2 {
    font-family: "Playfair Display", serif;
    font-style: italic;
    color: map-get($textos, color);
    padding-bottom: 2rem;
  }
  h6 {
    font-family: "open sans";
    font-size: 1.5rem;
    padding-bottom: 2rem;

    color: $secundario;
  }
  p {
    font-family: "open sans";
    padding-bottom: 2rem;
    font-size: 1rem;
  }
  a {
    font-size: 1.5rem;
    font-style: italic;
  }
}
.btn {
  align-self: center;
  transition: all 1s;
}
.btn:hover {
  font-size: 2rem;
}
.titulobeneficios {
  text-align: center;
  background-color: $primario;
  color: $secundarioter;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: 2.5rem;
}
.beneficios {
  background-image: url(../Multimedia/Fondosol.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /*   background-color: $secundarioter;
 */
}
.moneda {
  animation-name: beneanim;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  padding-bottom: 3rem;
  padding-top: 8rem;
}

@keyframes beneanim {
  0% {
    filter: grayscale(100%);
  }
  25% {
    filter: grayscale(75%);
  }
  50% {
    filter: grayscale(50%);
  }
  75% {
    filter: grayscale(25%);
  }
  100% {
    filter: grayscale(0%);
  }
}
.cat {
  margin-top: 2rem;
  padding-top: 2rem;
  background-image: url(../Multimedia/fondocat2.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.btncatalogo {
  display: flex;
  justify-content: center;
  padding: 1rem;
  a {
    font-style: normal;
    font-size: 3rem;
  }
}
.botonescribi {
  a {
    font-style: normal;
  }
}
.textfaqs {
  background-image: url(../Multimedia/fondoplanta.jpeg);
  h2 {
    font-style: italic;
    padding-bottom: 2rem;
    font-size: 3rem;
    color: $secundarioter;
  }
  p {
    padding-top: 2rem;
    font-size: 1.5rem;
    font-family: "open sans";
    color: $secundarioter;
  }
}
.verfaqs {
  a {
    font-size: 2rem;
  }
}

.dudas {
  background-color: $secundario;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    color: $primario;
  }
  h3 {
    color: $primariosec;
    border-radius: 1rem;
    padding: 8px;
    font-weight: 600;
    background-color: $secundarioter;
    transition: all 0.5s;
    &:hover {
      color: $secundario;
      background-color: $primario;
    }
  }
  a {
    text-decoration: none;
  }
  i {
    font-size: 2rem;
    color: $primario;
    /*     border-top: Solid 3px #14281dff;
    border-bottom: Solid 3px #14281dff;
    border-left: solid 3px #14281dff;
    border-right: solid 3px #14281dff; */
    transition: all 1s;
    &:hover {
      color: $secundarioter;
      font-size: 2.5rem;
      /*       background-color: #f1f5f2ff;
 */
    }
  }
}
