/* Index */
@media (max-width: 576px) {
  .moneda {
    width: 40%;
  }
  .carousel {
    width: 50%;
  }
}

.verfaqs {
  margin-top: 5rem;
}
/* Catalogo */
@media (max-width: 576px) {
  .cardfaqs {
    width: 50%;
  }
}
/* !Tablet NOSOTROS */
@media (max-width: 768px) {
  .gridNosotros {
    @include grid(grid, 1fr 1fr 1fr 1fr);

    grid-template-areas:
      "img1 text1 img2 text4"
      "text2 img3 text3 img4";

    /*     .fotonosotros1 {
      display: block;
      object-fit: cover;
    }
    .fotonosotros2 {
      display: block;
      object-fit: cover;
    }
    .fotonosotros3 {
      display: block;
      object-fit: cover;
      width: 100%;
    }
    .fotonosotros4 {
      display: block;
      object-fit: cover;
    }
    .textonosotros3{
      .fotonosotros2 {
        display: block;
        object-fit: cover;
      }
    }
  } */
  }

  .footer {
    flex-direction: column;
    display: flex;
    background-color: $secundarioter;
    text-align: center;
  }
}
/* !MOBILE NOSOTROS */
@media (max-width: 576px) {
  .gridNosotros {
    @include grid(grid, 1fr);

    grid-template-areas:
      "img1"
      "text1"
      "img2"
      "text2"
      "img3"
      "text3"
      "img4"
      "text4";
  }

  .footer {
    display: flex;
    flex-direction: column;
    background-color: $secundarioter;
    text-align: center;
  }
  .textonosotros3 a {
    padding: 0.1rem;
    font-size: large;
  }
}
