/* Index */
@media (max-width: 576px) {
  .carousel {
    width: 90%;
  }
  .beneficios {
    background-attachment: local;
  }
  .benef img {
    width: 20%;
  }

  .textfaqs {
    h2 {
      font-size: 2rem;
    }
    p {
      font-size: 0.9rem;
    }
  }
}

.verfaqs {
  margin-top: 1rem;
}
@media (max-width: 768px) {
  .benef img {
    width: 20%;
  }
  .carousel {
    width: 90%;
  }
}
/* Catalogo */
@media (max-width: 768px) {
  .cardfaqs {
    width: 100rem;
  }
}

@media (max-width: 576px) {
  .cardfaqs {
    width: 90%;
  }
  .tituloconocenos {
    font-size: 3rem;
  }
  .noscatalogo {
    background-attachment: local;
  }
}

.footer {
  flex-direction: column;
  display: flex;
  background-color: $secundarioter;
  text-align: center;
}

/* !MOBILE NOSOTROS */
@media (max-width: 576px) {
  .gridNosotros {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "img1"
      "text1"
      "img2"
      "text2"
      "img3"
      "text3"
      "img4"
      "text4";
  }

  .footercon {
    display: flex;
    flex-direction: column;
    background-color: $secundarioter;
    text-align: center;
  }
  .menuFooter {
    padding-right: 2rem;
  }

  .menuFooter ul {
    display: flex;
    flex-direction: column;
  }

  .textonosotros3 a {
    padding: 0.1rem;
    font-size: large;
  }
}
@media (max-width: 576px) {
  .productos {
    background-attachment: local;
  }
}
