/* Index */
@media (max-width: 576px) {
  .img-thumbnail {
    background-color: $secundarioter;
    width: 50%;
    margin: 0.5rem;
  }
  .carousel {
    width: 50%;
  }
}
.textfaqs {
  margin-top: 5rem;
}
.verfaqs {
  margin-top: 5rem;
}
/* Catalogo */
@media (max-width: 576px) {
  .cardfaqs {
    width: 50%;
  }
}
