.bg-faq {
  background-color: #f1f5f2ff;
}

.navbar {
  background-color: $secundarioter;

  .navbar-brand img {
    margin-left: 1rem;
    width: 60%;
  }
}
.nav-link {
  color: $secundario;
  background-color: $primario;
  margin: 0.2rem;
  border-radius: 1rem;
  text-align: center;
  font-style: italic;

  &:hover {
    color: $secundarioter;
  }
  &:visited {
    color: $secundariosec;
  }
  &:visited:hover {
    color: $secundarioter;
  }
}
.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
  color: $secundarioter;
}
