.gridNosotros {
  font-family: "Playfair Display", serif;
  /*   display: grid;
  grid-template-columns: 1fr 1fr; */
  @include grid(grid, 1fr 1fr);
  grid-template-areas:
    "img1 text1" "text2 img2"
    "img3 text3" "text4 img4";
}

.fotonosotros1 {
  grid-area: img1;
}
.textonosotros1 {
  grid-area: text1;
}
.fotonosotros2 {
  grid-area: text2;
}
.fotonosotros2 {
  grid-area: img2;
}
.fotonosotros3 {
  grid-area: img3;
}
.textonosotros3 {
  grid-area: text3;
}
.textonosotros4 {
  grid-area: text4;
}
.fotonosotros4 {
  grid-area: img4;
}
.tituloNosotros {
  background-color: $primario;
  color: $secundario;
  text-align: center;
  font-style: italic;
  font-family: "Playfair Display", serif;
  padding: 1rem;
  h1 {
    font-size: 5rem;
  }
}

/* Textos Nosotros */
.textonosotros1 {
  display: map-get($textos, display);
  flex-direction: map-get($textos, direccion);
  justify-content: map-get($textos, centrado);
  color: map-get($textos, color);
  background-color: map-get($textos, fondo);
  padding: 0.5rem;
  h2 {
    font-family: "Playfair Display", serif;
    color: $primario;
    padding-bottom: 3rem;
    font-style: italic;
    animation-name: aparecertitulo;
    animation-duration: 2s;
    animation-timing-function: linear;
  }
  p {
    font-family: "open sans";
  }
}
@keyframes aparecertitulo {
  0% {
    opacity: 100%;
  }
  25% {
    opacity: 25%;
  }
  50% {
    opacity: 50%;
  }
  75% {
    opacity: 75%;
  }
  100% {
    opacity: 100%;
  }
}
.textonosotros2 {
  display: map-get($textos, display);
  flex-direction: map-get($textos, direccion);
  justify-content: map-get($textos, centrado);
  color: map-get($textos, color);
  background-color: map-get($textos, fondo);
  padding: 0.5rem;
  h2 {
    color: $primario;
    padding-bottom: 3rem;
    font-style: italic;
    animation-name: aparecertitulo;
    animation-duration: 2s;
    animation-timing-function: linear;
  }
  p {
    font-family: "open sans";
  }
}
.textonosotros3 {
  display: map-get($textos, display);
  flex-direction: map-get($textos, direccion);
  justify-content: map-get($textos, centrado);
  color: map-get($textos, color);
  background-color: map-get($textos, fondo);
  padding: 0.5rem;
  p {
    font-family: "open sans";
  }
  a {
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: rgba(53, 88, 52, 0.721);
    color: $primario;
    font-size: large;
    text-decoration: none;
    font-family: "Playfair Display", serif;

    &:hover {
      color: $secundarioter;
    }
  }
}
.textonosotros4 {
  @extend .textonosotros1;
  /*   display: map-get($textnosotros, display);
  flex-direction: map-get($textnosotros, direccion);
  justify-content: map-get($textnosotros, centrado);
  color: map-get($textnosotros, color);
  background-color: map-get($textnosotros, fondo); */
  text-align: center;
  align-items: center;
  padding: 0.5rem;
  p {
    font-family: "open sans";
  }
}

.botonCatalogoNos {
  text-decoration: none;
  h2 {
    padding: 1.1rem;
    border-radius: 2rem;
    background-color: rgba(53, 88, 52, 0.721);
    color: $primario;
    font-size: large;
    &:hover {
      color: $secundarioter;
    }
  }
}
/* IMAGENES */
.fotonosotros1 {
  display: flex;
  animation-name: aparecer;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: initial;
}
@keyframes aparecer {
  0% {
    filter: grayscale(100%);
  }
  25% {
    filter: grayscale(75%);
  }
  50% {
    filter: grayscale(50%);
  }
  75% {
    filter: grayscale(25%);
  }
  100% {
    filter: grayscale(0%);
  }
}
.fotonosotros2 {
  display: flex;
  animation-name: aparecer;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: initial;
}
.fotonosotros3 {
  display: flex;
  animation-name: aparecer;
  animation-duration: 1.5s;
  animation-timing-function: linear;
}
.fotonosotros4 {
  display: flex;
  animation-name: aparecer;
  animation-duration: 1.5s;
  animation-timing-function: linear;
}
.fotonosotros1 img {
  width: 100%;
}
.fotonosotros2 img {
  width: 100%;
}
.fotonosotros3 img {
  width: 100%;
}
.fotonosotros4 img {
  width: 100%;
}
