/* Paleta Colores */

$primario: #14281dff;
$primariosec: #355834ff;
$primarioter: #525e39;
$secundario: #c2a878;
$secundariosec: #6e633dff;
$secundarioter: #f1f5f2ff;

@mixin grid($d, $col) {
  display: $d;
  grid-template-columns: $col;
}

$textos: (
  display: flex,
  direccion: column,
  centrado: center,
  color: $primario,
  fondo: $secundarioter,
);
